<head>
  <meta charset="utf-8">
  <title>{{ generatePageTitle(page) }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ config.keywords }}">
  <meta name="theme-color" content="{{ theme.primaryColor }}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1535530089295655"
     crossorigin="anonymous"></script>
  <link rel="canonical" href="{{ full_url_for(page.path) }}">

  {% if theme.favicon %}
    {{ favicon_tag(theme.favicon) }}
  {% endif %}

  {{ open_graph() }}
  {{ meta_generator() }}
  {{ generateJSONLD(page) }}

  {# CSS #}
  {{ css('css/main') }}
  <style>
    :root {
      --sea-color-primary: {{ theme.primaryColor }};
    }
  </style>

  {{ js('js/theme_mode') }}
</head>